@import 'darkwide';

/* WHAT IF
 * we put the newest toots at the BOTTOM of the timeline?
 *
 * We have gotten used to reading twitter conversations in reverse order.
 * We all hate doing this. Or at least I do. But it's How Twitter Works.
 * Twitter has tried to fix it, with that thing where they detect a conversation
 * and glom all the relevant tweets together.
 * But their timeline is still resisting this.
 *
 * What if we change this?
 * It kinda makes my brain hurt, at first. But I'm gonna stick with it a little while.
 */

/*
 * "I don't understand! The sound waves are reversing!"
 * - Man or Astro-Man, "The Sounds Of Waves Reversing"
 */

[role=feed] {
	display:flex;
	flex-direction:column-reverse;
}

/* this is a terrible kludge but it will do for now until I have time to dive into mastodon's js and change it to add new toots when you get to the TOP of the */
[aria-posinset="0"]:first-child, .account-timeline__header {
	margin-bottom:150vh;
}